.setbox {
  display: flex;
}

.vmid {
  vertical-align: middle;
}

.vtop {
  vertical-align: top;
}

.vhid {
  visibility: hidden;
}

.txtc {
  text-align: center;
}
.brcollap{
  border-collapse: collapse;
}

.fullw {
  width: 100%;
}
.wid30p {
  width: 30%;
}
.wid33p {
  width: 33%;
}
.wid50p {
  width: 50%;
}
.wid70p {
  width: 70%;
}
.widinp{
  width: 90%;
}
.wid200 {
  width: 200px;
}
.wid215 {
  width: 215px;
}

.f12_DIG{font-size: 12px;}
.fp1_DIG{font-size: 42%;}
.fp2_DIG{font-size: 100%;}

#PreviewDIG table.setbg {
  background: #f4f4f4;
  border-bottom: 0;
  vertical-align: middle;
}
#PreviewDIG  table.setbg2, #PreviewDIG td.setbg2{
  background: none;
}
#PreviewDIG  table.setg1{
  margin-bottom: 0;
}
#PreviewDIG td.setg3{
  border-bottom: 0;
}








.sethead {
  background-color: aliceblue;
  line-height: 39px;
  font-size: 23px;
}

.setemp {
  border: 1px dotted lightgrey;
  width: 200px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #eee;
}

.setm {
  align-items: baseline;
}

.setTab {
  padding-left: 15px;
  line-height: 50px;
}

.p_a {
  padding: 10px;
}
.p_b{
  padding: 5px;
}
.p_c{padding: 0;}
.m_a{
  margin: 10px;
}
.m_b{
  margin: 10px 0;
}
.pad1 {
  padding: 10px;
}
.mt5 {
  margin-top: 5px;
}

.m10 {
  margin-top: 10px;
}
.mr_10{
  margin-right: 10px;
}

.titlebar1 {
  line-height: 40px;
  text-align: center;
  background-color: cornflowerblue;
  font-weight: bold;
  color: #fff;
}





.bg1 {
  background-color: #f0f3f5;
}

.bg2 {
  background-color: aliceblue;
}

.brd1{
  border: 1px solid #000;
}
.brd2{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.brd3{
  border-right: 1px solid #000;
}

.brd4{
  border-bottom: 1px solid #000;
}




#formRender label {
  width: 100px;}
.dispt{display: table;}
.setequal{table-layout: fixed;}
.disptc{display: table-cell;padding:10px; width: 33%;}
.disptc1{display: table-cell;padding:10px;width:220px}
.vmid{vertical-align: middle;}
.vtop{vertical-align: top;}
.vhid{visibility: hidden;}
.txtc{text-align: center;} 
 

#mainCont, .setflex{display: flex;}
.sethgt1{
  height: 772px;
  overflow-y: auto;
}
.setbox1{
  overflow-x: auto;
  width: 100%;
}

.dispt {
  display: table;
}
.dispCell{
  display: table-cell;
}

.setequal {
  table-layout: fixed;
}

.disptc {
  display: table-cell;
  padding: 10px;
  width: 33%;
}

.disptc1 {
  display: table-cell;
  padding: 10px;
  width: 220px
}




#mainCont,
.setflex {
  display: flex;
}
.fitCont{
  width: fit-content;
}
.fldir{
  flex-direction: row;
}

.sethgt1 {
  height: 772px;
  overflow-y: auto;
}

.setbox1 {
  overflow-x: auto;
  width: 100%;
}



.leftpanel {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 13%;
  display: flex;
  flex-direction: column;
}

.rightpanel {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 84%;
  display: flex;
  flex-direction: column;
  padding: 5px
}

.panelopt {
  background-color: aliceblue;
  line-height: 40px;
  border-bottom: 1px solid #a9b3bb;
}



.box {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.dnd-bg1 {
  background-color: #2f3848;
}

.dnd-bg2 {
  background-color: antiquewhite;
}

.dnd-p1 {
  padding: 20px;
}

#leftDesign h2 {
  color: #f0f3f5;
}

ul.maintab {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.maintab>li {
  background-color: aliceblue;
  border-bottom: 1px solid #eee;
}

ul.maintab>li>div.showField {
  display: none
}

ul.maintab>li.active>div.showField {
  display: block;
  background-color: #fff;
  margin: 0;
}
.setcel1{
    height:100px;
    border:1px solid #fff;
    width:70px
 }

 .scbrd2{border-top: 1px solid #000;}

 


